body {
  background-image:url(../images/bgaboutme.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.about-me{
  width:1000px;
  background-color:rgba(100, 100, 150,0.5);
  color:white;
  margin-top:20px;
}
